<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ecoleMaman.Properties.Settings.dbConnect" connectionString="server=localhost;port=3306;UID=root;PWD=;database=listemot" />
    </connectionStrings>
</configuration>